*,
*::before,
*::after {
    padding:0;
    margin:0;
    border:0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img{
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: inherit;
    font-size: inherit;

}
html,
body {
    background: #202020;
    height: 100%;
    line-height: 1;
    font-size: 20px;
    color: #DEDEDE;
    font-family: Manrope;
    font-weight: 700;
    letter-spacing: -0.5px;
}
/* ---------------------------------------------------------------------------------------------- */
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display:flex;
    flex-direction: column;
}
/* ---------------------------------------------------------------------------------------------- */
._container {
    max-width: 1248px;
    padding: 0px 15px;
    margin: 0px auto;
    box-sizing: content-box;
}
/* ------HEADER---------------------------------------------------------------------------------------- */
.header{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
    background: rgba(50, 50, 50, 0.7);

}
.header__container{
    display: flex;
    min-height: 80px;
    align-items:center;
    justify-content: space-between;
    gap: 60px;

}
.header__logo{
    display:flex;
    font-size: 20px;
    font-weight: 800;
    color: inherit;
    white-space: nowrap;
    align-items: center;
    gap:12px;
}
.header__menu{
    min-width: 30px;
    /*margin: 0px 0px 0px 820px;*/
}
.menu{
}
.menu__list{
    flex-wrap:wrap;
    font-size: 18px;
    display:flex;
    padding-right:14px;
}
.menu__item{

}
.menu__item:not(:last-child) {
    margin: 0px 56px 0px 0px;
}
.menu__link{
    color: inherit;
    line-height: 25px;

}
/* --------PAGE-------------------------------------------------------------------------------------- */

.page{
    flex: 1 1 auto;
}
.page__main-block{

}

/* --------FOOTER-------------------------------------------------------------------------------------- */
.footer__line{
    border-top:1px solid rgba(105, 105, 105, 1);
    margin-top:124px;
}
.footer__container{
    justify-content:space-between;
    display:flex;
    align-items:center;
    height:120px;
}
.footer__copyright{
    font-size: 16px;
    line-height: 225%;
    letter-spacing: -0.5px;
    color: #959595;
    font-weight:600;
}

.footer__name{
    color:rgba(222, 222, 222, 1);
}
/* --------MAIN-BLOCK-------------------------------------------------------------------------------------- */


.main-block{

}
.main-block__container{
    padding: 209px 15px 0px 15px;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    align-items: start;
}


.main-block__body{
    display:flex;
    flex-direction:column;
    max-width:506px;
    margin-top: 31px;
}
.main-block__body > *:not(:last-child){
    margin: 0px 0px 24px 0px;
}

.main-block__title{
    font-size: 54px;
    line-height: 119%;
    font-weight: 700;

}
.main-block__text{
    font-weight:600;
    line-height: 150%;
    max-width:395px;
    color: rgba(149, 149, 149, 1);
}
.main-block__buttons{
    padding-top:64px;
    display:inline-flex;
    background:inherit;
}
.main-block__button{
    color: #FFFFFF;
    font-size:18px;
    background: #9D9D9D;
    border-radius: 4px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 16px 48px;
    max-width: 293.57px;
    max-height: 57px;
    line-height: 139%;
    font-weight: 600;
    gap:16px;
}

.main-block__image{
    display:flex;
    max-height:400px;
    max-width:400px;
    margin-right:106px;
}

.mail-logo{
    width: 21px;
    height: 16px;
}

@media (max-width: 1050px){
    ._container {
        padding: 0px 24px;
    }
    .main-block__container{
        padding: 144px 24px 0px 24px;
        justify-content:center;
    }
    .main-block__image{
        height:240px;
        width:240px;
        margin-right:0px;
    }
    .main-block__title{
        font-size: 36px;
        line-height: 111%;
        font-weight: 700;
        text-align: center;
    }
    .main-block__text{
        font-weight:500;
        line-height: 144%;
        max-width:395px;
        text-align:center;
    }
    .main-block__body > *:not(:last-child){
        margin: 0px 0px 20px 0px;
    }
    .main-block__buttons{
        padding-top:48px;
        justify-content:center;
    }
    .main-block__button{
        max-width: 242px;
        max-height: 57px;
    }
}
/* --------FEATURED WORK-------------------------------------------------------------------------------------- */

.featured-work__container {
    padding-top:145px;
}

.featured-work__title{
    white-space: nowrap;
    display:flex;
    align-items: center;
    gap:21px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #DEDEDE;
    opacity: 0.7;
    font-size: 16px;
    line-height: 100%;
    max-width: 198px;
    max-height:48px;
    padding: 8px 0px;
}
.featured-work__images_left{
    max-width: 612px;
}
.featured-work__images_right{
    margin-top:138px;
    max-width: 612px;
    margin-left: 24px;
}

.featured-work__image{
    max-width: 612px;
    max-height: 888px;
    margin-top: 24px;
}


.featured-work__images{
    margin-top:56px;
    display:flex;
}

/* --------VISUAL EXPLORATION-------------------------------------------------------------------------------------- */

.visual-explorations__container {
    padding-top: 240px;
}

.visual-explorations__title{
    font-size:36px;
    line-height: 49px;
    letter-spacing: -0.5px;
    text-align: center;
    font-weight: 700;
}
.visual-explorations__gallery{
    margin-top: 65px;
    display:grid;
    grid-template-columns:repeat(auto-fill, 400px);
    justify-self:center;
    grid-gap:24px;

}
.visual-explorations__image{
    max-width: 400px;
    max-height: 408px;
}

/* --------PERSONAL PROJECTS-------------------------------------------------------------------------------------- */

.personal-projects__container{
    padding-top:240px;
}
.personal-projects__title{
    font-size:36px;
    line-height: 49px;
    letter-spacing: -0.5px;
    text-align: center;
    font-weight: 700;
}
.personal-projects__gallery{
    margin-top: 65px;
    display:grid;
    grid-template-columns:repeat(auto-fill, 400px);
    justify-self:center;
    grid-gap:24px;
}

.personal-project__image {
    max-width: 400px;
    max-height: 560px;
}
/* --------CONTACT ME-------------------------------------------------------------------------------------- */
.contact-me__container{
    padding-top:240px;
    display:flex;
    flex-direction:column;
}

.contact-me__title {
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    letter-spacing: -0.5px;
    font-weight:700;
}

.contact-me__text{
    font-weight:600;
    font-size:26px;
    line-height: 146%;
    letter-spacing: -0.5px;
    text-align:center;
    margin-top:24px;
}
.contact-me__button{
    display:flex;
    padding-top:48px;
    justify-content:center;
}